.podcastMain {
  margin-top: 60px;

  background: linear-gradient(
    90deg,
    rgba(26, 46, 104, 0.8) 0%,
    rgba(22, 104, 133, 0.8) 100%
  );
}
.podcastContainer {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.rightImage {
  position: absolute;
  bottom: -66px;
}
.podeRightPlayIcon {
  position: absolute;
  top: 120px;
  left: 170px;
}

/* VideoGallery css */
.galleryFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galleryHeading {
  color: white;
  text-transform: uppercase;
  transform: rotate(-90deg);
  height: 10px;
  margin-top: -20px;
  margin-left: -30px;
  /* margin-right: -80px; */
}
.galleryHeading h2 {
  line-height: 0px;
  font-style: italic;
  font-size: 35px;
}
.podcastBar {
  margin-top: -10px;
}
.galleryImageContainer {
  overflow: hidden;
  position: relative;
}
.galleryImageFlex {
  display: flex;
}
.galleryImageFlex div {
  margin-right: 40px;
}
.imageDiv {
  position: relative;
  height: 100%;
}
.absoluteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.582);
}
.absoluteText {
  position: absolute;
  top: 110px;
  left: 10px;
  width: 100%;
}
.absoluteText p {
  color: white;
  font-size: 13px;

  /* font-size: 30px; */
}
.absolutePlayIcon {
  position: absolute;
  top: 50px;
  /* left: 485px; */
  left: 215px;
}
.arrowIcons {
  color: white !important;
  margin-left: 20px;
  font-size: 20px !important;
}
.arrowIcons div {
  cursor: pointer;
}
.arrowIconsLeft {
  margin-top: 20px;
}
.viewAllButtonDiv {
  text-align: end;
  margin-right: 30px;
}
.viewAllButton {
  color: white !important;
  font-weight: 400 !important;
}
