.main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 120px;
}
.flex {
  display: flex;
}
.imageContainer {
  position: relative;
}
.imageOverlay {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(26, 46, 104, 0) 0%,
    rgba(26, 46, 104, 1) 100%
  );
  height: 100%;
  width: 95%;
  top: 50%;
  left: 47.5%;
  transform: translate(-50%, -50%);
}
.boxAbsolute {
  position: absolute;
  right: 0;
  bottom: 0;
}
.boxContainer {
  /* height: 400px; */
  width: 650px;
  background-color: white !important;
  padding-bottom: 15px;
}
.secondBox {
  height: 60px;
  width: 180px;
  background-color: #2499e7 !important;
}
.secondBoxText {
  text-transform: uppercase;
  color: white;
  padding-top: 17px;
  text-align: center;
}
.mainBoxText {
  width: 75%;
  margin-left: 50px;
  margin-right: auto;
}
.heading {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}
.text1 {
  font-style: 12px;
  font-style: italic;
  color: #59595b;
  margin-top: -10px;
}
.text2 {
  font-style: 12px;
  color: #59595b;
}
.viewAllButtonDiv {
  text-align: end;
  margin-right: 30px;
  margin-top: 30px;
}
.viewAllButton {
  color: #1592e6 !important;
  font-weight: 400 !important;
}
