.boxFlex {
  display: flex;
  flex-direction: column;
  z-index: 99999;
  position: relative;
  /* width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important; */
}
.redBox {
  position: absolute;
  height: 10px;
  width: 180px;
  left: 45.5%;
  bottom: 100%;
  transform: translateX(50%);
  text-align: center;
  background-color: #bb213a;
  transform: skew(-15deg);
}

.whiteBox {
  height: 142px !important;
  width: 200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: skew(-15deg);
}
.whiteBox img {
  transform: skew(15deg);
}
