.dateContainer {
  width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.dateHeader {
  height: 40px;
  width: 50%;
  background: linear-gradient(
    122deg,
    rgba(46, 156, 213, 1) 0%,
    rgba(11, 60, 117, 1) 100%
  );
  color: white;
  transform: skew(-15deg);
}
.dateHeader p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
  transform: skew(15deg);
  text-transform: uppercase;
}
.tableCell {
  color: #3d98d1 !important;
  border-bottom: none !important;
}
.tableHead {
  border-top: 0.2px solid #bdbec0 !important;
  border-bottom: 0.2px solid #bdbec0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
