.align {
  margin-top: 50px;
}
.table {
  overflow-x: auto;
  overflow-y: hidden;
}
.width {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.secondHeaderBackground {
  margin-top: 17px;
  margin-left: -35px !important;
  /* width: 64%; */
  /* width: 83%; */
  width: 1250px;
  padding: 9px;
  position: absolute;
}
.firstHeaderBackground {
  margin-top: -22px;
  margin-left: 575px !important;
  /* width: 64%; */
  /* width: 83%; */
  width: 620px;
  padding: 9px;
  position: absolute;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  position: relative;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: white;
  font-size: 12px;
}
.secondHeader th {
  border-right: 1px solid #bdbec0;
  font-weight: 500;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 8px;
}
.firstHeader th {
  border-right: 1px solid #bdbec0;
  font-weight: 500;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
}
.secondHeader th:nth-child(23) {
  border-right: 0px solid #0b3c75;
}
.firstHeader th:nth-child(12) {
  border-right: 1px solid transparent;
}
.firstHeader th:nth-child(1),
.firstHeader th:nth-child(2),
.firstHeader th:nth-child(3),
.firstHeader th:nth-child(4),
.firstHeader th:nth-child(5),
.firstHeader th:nth-child(6),
.firstHeader th:nth-child(7),
.firstHeader th:nth-child(8) {
  border-right: none;
}
td:nth-child(7) {
  background-color: #175d92;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10),
td:nth-child(11),
td:nth-child(12),
td:nth-child(13),
td:nth-child(14),
td:nth-child(15),
td:nth-child(16),
td:nth-child(17),
td:nth-child(18),
td:nth-child(19),
td:nth-child(20),
td:nth-child(21),
td:nth-child(22) {
  border-right: 1px solid transparent !important;
}
.avatar {
  margin-top: 12px;
}
.name {
  color: #3d98d1;
  font-size: 14px;
  font-weight: 550;
}
.details {
  font-size: 14px;
}
@media screen and (max-width: 1280px) {
  .secondHeaderBackground {
    display: none;
  }
  .firstHeaderBackground {
    display: none;
  }
  th {
    background: linear-gradient(
      0deg,
      rgba(46, 156, 213, 1) 0%,
      rgba(11, 60, 117, 1) 100%
    );
  }
}
