.App {
  padding-bottom: 50px;
}
.overLay {
  background: url("./Assets/stadium.png") no-repeat;
  background-color: black !important;
  background-size: 100%;
  /* margin-top: -20px; */
}
.overLay::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  content: "";
  display: block;
  height: 120%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.overLay2 {
  background: url("./Assets/homeBack.svg") no-repeat;
  background-color: #1a1a1a !important;
  background-size: 100%;
  /* margin-top: -20px; */
}
.overLay2::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.9) 60%,
    rgba(26, 26, 26, 1) 100%
  );
  content: "";
  display: block;
  height: 170%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.overLay3 {
  background: url("./Assets/articlesBack.svg") no-repeat;
  background-color: #1a1a1a !important;
  background-size: 100%;
  /* margin-top: -20px; */
}
.overLay3::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(26, 26, 26, 1) 100%
  );
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.field {
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 35%
  );
  min-height: 100vh;
  border: 1px solid #242424;
  overflow: hidden;
  z-index: 2; */
  position: relative;
  z-index: 9999 !important;
}
.fieldImage {
  z-index: 2;
  position: relative;
}
.scoreContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
