.App {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 1200px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  margin-top: 120px;
}
.overLay {
  background: url("./Assets/field.png") no-repeat;
  background-color: #494949 !important;
  background-size: 1560px;
  margin-top: -1px;
}
.field {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 35%
  );
  border: 1px solid #242424;
  overflow: hidden;
  z-index: 2;
}
.fieldImage {
  z-index: 2;
  position: relative;
}
